// fonts
$baseFont: 'Montserrat', sans-serif;
$alternateFont: 'Droid Serif', serif;

// colors
$primaryColor: #daa66f;
$sectionColorLighter: #ffffff;
$lineColor: #e5e5e5;
// section colors
$sectionColorLight: #f5f5f5; 
$sectionColorDark:#3b3b3b;
$sectionColorDarker: #202020;
$sectionColorDarkest: #1a1a1a;


// MIXINS start here
// to set parent container to flex row
@mixin parent-flex-row {
    display: flex;
    flex-direction: row;
}
// to set parent container to flex column
@mixin parent-flex-column {
    display: flex;
    flex-direction: column;
}
// to create circle icon with shadow around it
@mixin circle-icon($color) {
    background:$color;
    font-size: 30px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.4);
}

// mixins to create the diamond border
@mixin diamond-inner ($color){
    width: 10px;
    height: 10px;
    background: $primaryColor;
    border: 2px solid $color;
    transform-origin: top left;
    transform: rotate(90deg);
    position: absolute;
    left: 9px;
    bottom: 1px;  
    z-index: 1;
}

@mixin diamond-outline ($color){
    width: 10px;
    height: 10px;
    background: $color;
    position: relative;
    transform: rotate(45deg);  
}

@mixin bar-arrow{
    position:absolute;
    content:"";
    width:0px;
    height:0px;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid $primaryColor;
}